name: Update README
on:
  push:
    branches:
      - main # 或者你的默认分支，例如 master
  schedule:
    # 每 6 小时执行一次
    - cron: '0 */6 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write # <-- 添加这一行来授予写权限
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run WeRead sync script
        env:
          WEREAD_COOKIE: ${{ secrets.WEREAD_COOKIE }}
        run: python weread_sync.py

      - name: Run Blog sync script
        run: python blog_sync.py

      - name: Commit and push changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add README.md
          # 检查是否有更改，只有在有更改时才提交
          if ! git diff --staged --quiet; then
            git commit -m "chore: Auto-update README"
            git push
          else
            echo "No changes to commit."